#wrapper{
    z-index: 999;
}
#text-title{
    font-size: 1.8rem;
}
.nickname{
    font-size: 1.4rem;
    margin-left: 2px;
}
.content{
    font-weight: 600;
}
.music{
    margin-left: 6px ;
    font-weight: 600;
}
.music-icon{
    font-size: 13px;
    font-weight: 500;
}
.icon-heart{
    font-size: 1.8rem;
    align-items: center;

}
.icon-cmt-share{
    font-size: 1.8rem;
    align-items: center;
}
.content-icon{
    color: rgba(22, 24, 35, .75);
    font-size: 1.2rem;
    font-weight: 600;
}
